
.logo{
  img{
    width:110px;
    @media (max-width:350px) {
      width:90px;

    }
    @media (max-width:290px) {
      width:80px;
    }

  }
}
form{
  min-width: 220px;
  border: 1px solid #0000003d;
  border-radius: 4px;
  padding: 40px;

  input.pass{
    direction: rtl;
  }
  button.eye{
    top: 8px;
    left:5px;
    border: none;
    outline: none;
    background: transparent;

    // cursor: pointer;
  }
  .fa-eye,.fa-eye-slash{
  font-size: 18px;
  color:#787878;
  }
}
