<div class="container-fluid mt-3  mb-5  ">
  <div class="card  mb-4" dir="rtl">
    <div class="card-header border-0 p-4  bg-white">
      <h2 class=" fw-bold ">إضافة عميل

      </h2>
    </div>
    <div class="card-body p-0 ">
      <form [formGroup]="clientsForm" (ngSubmit)="submitClientsForm()" class="">

        <div class="row px-4">

          <!-- nameAr -->
          <div class="mb-3 col-sm-6 col-12">
            <label for="nameAr" class="form-label "> الإسم (عربي)</label>
            <input type="text" formControlName="nameAr" class="form-control" id="nameAr" placeholder="اسم العميل">

            <!-- validation nameAr -->
            @if (clientsForm.get('nameAr')?.invalid && clientsForm.get('nameAr')?.touched) {
            @if (clientsForm.get('nameAr')?.errors?.['required']) {
            <small class="text-danger">هذا الحقل مطلوب.</small>
            }
            @if (clientsForm.get('nameAr')?.errors?.['pattern']) {
            <small class="text-danger">الاسم يجب أن يكون بالعربي فقط.</small>
            }
            }

          </div>

          <!--  nameEn -->
          <div class="mb-3 col-sm-6 col-12">
            <label for="nameEn" class="form-label ">الإسم (إنجليزي)</label>
            <input type="text" formControlName="nameEn" class="form-control" id="nameEn" placeholder="Client name">

            <!-- validation nameEn-->
            @if (clientsForm.get('nameEn')?.invalid && clientsForm.get('nameEn')?.touched) {
            @if (clientsForm.get('nameEn')?.errors?.['required']) {
            <small class="text-danger">هذا الحقل مطلوب.</small>
            }
            @if (clientsForm.get('nameEn')?.errors?.['pattern']) {
            <small class="text-danger">الاسم يجب أن يكون بالإنجليزية فقط.</small>
            }

            }
          </div>


          <!-- Account number -->
          <div class="mb-3 col-sm-6 col-12">
            <label for="numAccuont" class="form-label ">رقم الحساب</label>
            <input type="text" id="numAccuont" class="form-control">
          </div>

          <!-- phone number -->
          <div class="mb-3 col-sm-6 col-12">
            <label for="phoneNum" class="form-label ">رقم الهاتف</label>
            <input type="text" id="phoneNum" class="form-control">
          </div>


          <!-- branch -->
          <div class="mb-3 col-sm-6 col-12">
            <label for="branch" class="form-label "> الفرع</label>
            <select name="" id="branch" class="form-control">
              <option value="" disabled>Admin.choose-branch</option>
              <option value="">الفرع الرئيسي</option>
            </select>
          </div>


          <!-- address -->
          <div class="mb-3 col-sm-6 col-12">
            <label for="address" class="form-label "> العنوان</label>
            <input type="text" id="address" class="form-control">
          </div>




          <!-- checkbox  -->
          <div class="mb-3  flex-center gap-2 justify-content-start ">
            <input type="checkbox" id="checkbox" class="form-check-input p-2" (click)="toggleStartingBalance()">
            <label for="checkbox" class="form-check-label fs-5"> رصيد بدايه</label>
          </div>
          <!-- isChecked -->
          @if (startingBalance) {
          <!-- amount -->
          <div class="mb-3 col-sm-5 col-12">
            <label for="amount" class="form-label "> القيمة</label>
            <input type="number" id="amount" class="form-control">
          </div>

          <!-- data -->
          <div class="mb-3 col-sm-5 col-12">
            <label for="data" class="form-label "> التاريخ</label>
            <input type="date" id="data" class="form-control">
          </div>
          }


        </div>
        <div class="  d-flex justify-content-end card-footer bg-transparent mt-3 p-3">
          <button class="btn btn-primary  p-2   " type="submit" style="width: 18%;">
            حفظ
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class=" data-table border rounded card " dir="rtl">

    <h3 class=" fs-5 p-4 card-header  bg-white ">
      العملاء

    </h3>

    <div class="card-body px-0">
      <div class="flex-between px-4 mb-3 flex-wrap gap-2">
        <div class="flex-center gap-2 ">
          <span class="h5 mb-0">اظهار</span>
          <select class="form-select" aria-label="Default select example">
            <option selected>10</option>
            <option value="1">25</option>
            <option value="2">50</option>
            <option value="3">All</option>
          </select>
          <span class="h5 mb-0">السجلات</span>
        </div>
        <div class="flex-center gap-2 align-items-end ">
          <label for="search" class="form-label fs-5 mb-0 ">بحث</label>
          <input type="text" class="form-control " id="search" placeholder="بتبحث عن اي">
        </div>
      </div>
      <table class="table table-hover text-nowrap transition  ">
        <thead class="small ">
          <tr>
            <th colspan="1" class="border text-secondary  text-uppercase"> main.id </th>
            <th colspan="1" class="border text-secondary  "> الاسم </th>
            <th colspan="1" class="border text-secondary  ">رقم الهاتف</th>
            <th colspan="1" class="border text-secondary  ">رقم الحساب</th>
            <th colspan="1" class="border text-secondary  ">الرصيد الحالي</th>
            <th colspan="1" class="border text-secondary  ">العمليات</th>
          </tr>
        </thead>
        <tbody class="">
          <tr class="">
            <td>1</td>
            <td>هيكا</td>
            <td>01234937455</td>
            <td>30306151700698</td>
            <td>120</td>
            <td><button class="transition btn btn-outline-primary flex-center gap-3 ">
                <i class="fas fa-user-pen"></i>
                <span>تعديل</span>
              </button></td>
          </tr>

        </tbody>
      </table>

      <div class="flex-between px-4 flex-wrap gap-2  pb-3">

        <h6 class="mb-0 text-nowrap px-2 ">
          اظهار السجلات من 1 الي 4 من كل 4 السجلات
        </h6>

        <nav aria-label="Page navigation example ">
          <ul class="pagination justify-content-end gap-1 mb-0 pe-0 ">
            <li class="page-item  disabled">
              <a class="page-link p-0 px-2 border-0 bg-transparent">الاول</a>
            </li>
            <li class="page-item  disabled"><a class="page-link p-0 px-2 border-0 bg-transparent" href="">السابق</a>
            </li>
            <li class="page-item "><a class="page-link p-0 px-2 cursor text-dark">1</a></li>
            <li class="page-item  disabled"><a class="page-link p-0 px-2 border-0 bg-transparent" href="">التالي</a>
            </li>
            <li class="page-item  disabled">
              <a class="page-link p-0 px-2 border-0 bg-transparent" href="">الاخير</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>



  </div>

</div>
