.main-layout{
  height: 100%;
  position: relative;

  @media (max-width:992px) {
    position: static;
    margin-bottom: 25px;

  }
  .nav-bar,.page-content{
    width: calc( 100% - 260px );
    @media (max-width:992px) {
      width: 100%;
    }
  }
  .side-bar{
    position: fixed;
    right: 0;
    width:  260px ;
    background: #151f2c;
    @media (max-width:992px) {
      position: static;
      width: 100%;
    }
  }
}
.page-content{
  background: #F6F8FB;


  position: absolute;
  left: 0px;
  top: 54.5px;
  @media (max-width:992px) {
    position: static;
    background: #F6F8FB;

  }
}
