.container-fluid {
  background: #F6F8FB;

  .card {
    .form-label {
      white-space: wrap;
      font-size: 18px;
      @media (max-width:668px) {
        font-size: 15px;
      }
      &::after {
        content: '*';
        color: rgb(218, 7, 7);
        padding-right: 3px;
      }

    }
    .form-select ,.form-check-input{

      &:focus{
        box-shadow: none;
        border-color: #787878;
      }
    }
  }
}
.add-item{
  background: #F6F8FB;

}
.fs-small{
  font-size:16px !important;
  white-space: nowrap !important;
}
.add-small{
@media (max-width:500px) {
  label{
    white-space: wrap !important;
    }
}

}
.w100{
  width: 100px;
  @media (max-width:450px) {
    width: 100% !important;
  }
}

.fs-mb{
  @media (max-width:450px) {
    font-size: 13px;
  }
}

.img-container{
  width: 100px;
  height: 100px;
  background: #F6F8FB;
  @media (max-width:768px) {
    margin: auto;
    margin-top: 10px;
  }
}
