.container-fluid{
  background: #F6F8FB;
  .card{

   form .form-label{
      white-space: nowrap;
      font-size: 18px;
      @media (max-width:668px) {
        font-size: 15px;

      }
      &::after{
        content: '*';
        color: rgb(218, 7, 7);
        padding-right: 3px;
      }

    }
  }
  .table-responsive{
    margin-top: 50px;
  .card-body{
    width: 100%;
    overflow-x: auto;

  }
  thead th{
    background: #f6f8fb;
  }
  tbody td {
    height:60px;
  }
  }

}


