<div class="container-fluid mt-4">

  <div class="home-page row g-4 px-3">
    <div class="col-12 ">
      <div class="sec gap-3 ">
        <div class="card  flex-row gap-2 p-3 justify-content-end ">
          <div class="sec-detailes flex-center align-items-end flex-column gap-1 ">
            <p class="m-0">0</p>
            <h3 class="m-0 ">المستخدمين</h3>
          </div>
          <div class="sec-icon rounded p-3 bg-primary  flex-center ">
            <i class="fas fa-user text-center fa-lg text-white"></i>
          </div>
        </div>
        <div class="card  flex-row gap-2 p-3 justify-content-end ">
          <div class="sec-detailes flex-center align-items-end flex-column gap-1 ">
            <p class="m-0">0</p>
            <h3 class="m-0 ">المكتبة</h3>
          </div>
          <div class="sec-icon rounded p-3 bg-info  flex-center">
            <i class="fas fa-book text-center fa-lg text-white"></i>
          </div>
        </div>
        <div class="card  flex-row gap-2 p-3 justify-content-end ">
          <div class="sec-detailes flex-center align-items-end flex-column gap-1 ">
            <p class="m-0">0</p>
            <h3 class="m-0 ">الاشعارات</h3>
          </div>
          <div class="sec-icon rounded p-3 bg-success  flex-center">
            <i class="fas fa-bell text-center fa-lg text-white"></i>
          </div>
        </div>
        <div class="card  flex-row gap-2 p-3 justify-content-end ">
          <div class="sec-detailes flex-center align-items-end flex-column gap-1 ">
            <p class="m-0">0</p>
            <h3 class="m-0 ">الاشعارات</h3>
          </div>
          <div class="sec-icon rounded p-3 bg-success  flex-center">
            <i class="fas fa-bell text-center fa-lg text-white"></i>
          </div>
        </div>

      </div>

    </div>
    <div class="col-12 data-table border rounded mb-4 " dir="rtl">

      <h3 class=" fs-4 p-3  ">
        جدول بيانات المستخدمين
      </h3>

      <table class="table table-striped  border card-body">
        <thead>
          <tr>
            <th scope="col" class="text-secondary">
              <div class="  fas fa-users"></div>
            </th>
            <th scope="col" class="text-secondary">#</th>
            <th scope="col"  class="text-secondary">اسم المستحدم</th>
            <th scope="col" class="text-secondary">البريد الالكتروني</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- <th ></th>
            <td></td> -->


          </tr>
          <tr>
             <!-- <th ></th>
             <td></td> -->


          </tr>
          <tr>

             <!-- <th ></th>
             <td></td> -->


          </tr>
        </tbody>
      </table>



    </div>
  </div>
</div>
