<div class="container-fluid my-5 mx-auto">

  <div class="card col-sm-8 col-12 m-auto " dir="rtl">

    <div class="card-header fs-5 p-3">
      حركات الوارد
    </div>

    <div class="card-body py-4 ">
      <form [formGroup]="craeteRevenueForm" (ngSubmit)="submitCraeteRevenueForm()">
       <div class="row g-4">

        <!-- مبلغ (شامل الضريبة) -->
        <div class="col-12">
          <label for="amountWithTax" class="form-label">مبلغ (شامل الضريبة)</label>
          <input type="number"  id="amountWithTax" class="form-control" value="0">
        </div>

        <!-- التاريخ -->
        <div class="col-12">
          <label for="date" class="form-label">التاريخ</label>
          <input type="date"  id="date" class="form-control" >
        </div>

        <!-- نوع الوارد -->
        <div class="col-12">
          <label for="inputType" class="form-label">نوع الوارد</label>
          <select id="inputType" class="form-select">
            <option selected disabled> لا اختيار</option>
            <option > الوارد 1</option>
          </select>
        </div>

        <!-- الخزنه -->
        <div class="col-12">
          <label for="safe" class="form-label">الخزنه</label>
          <select id="safe" class="form-select">
            <option selected disabled> لا اختيار</option>
            <option > الخزنه الرئيسية</option>
          </select>
        </div>

        <!-- طريقة الدفع -->
        <div class="col-12 ">
          <p class="fs-5">طريقة الدفع</p>

          <div class="d-flex gap-3   align-items-center">
            <input class="form-check-input  fs-5" type="radio" [(ngModel)]="selectedPaymentMethod" [ngModelOptions]="{standalone : true}" value="cash" name="paymentMethod" id="cash">
            <label class="form-check-label " for="cash">
             نقدي
            </label>
          </div>

          <div class="d-flex gap-3   align-items-center my-2">
            <input class="form-check-input  fs-5" type="radio" [(ngModel)]="selectedPaymentMethod"  [ngModelOptions]="{standalone : true}" value="bank"  name="paymentMethod" id="bank">
            <label class="form-check-label " for="bank">
             تحويل بنكي
            </label>

          </div>


        </div>

        <!-- بيانات البنك  -->
        @if (selectedPaymentMethod === 'bank') {

        <!-- فرع البنك  -->
        <div class="col-12">
          <label for="bankBranch" class="form-label">فرع البنك</label>
          <select id="bankBranch" class="form-select">
            <option selected disabled> لا اختيار</option>
          </select>
        </div>

           <!-- رقم الايصال -->
           <div class="col-12">
            <label for="receiptNum" class="form-label">رقم الايصال</label>
            <input type="number"  id="receiptNum" class="form-control" value="0">
          </div>

           <!-- صورة الايصال -->
           <div class="col-12">
            <label for="receiptPhoto" class="form-label">صورة الايصال</label>
            <input type="file"  id="receiptPhoto" class="form-control" >
          </div>
        }

        <!-- وصف الحركة / ملاحظات -->
        <div class="col-12">
          <label for="discription" class="form-label">وصف الحركة / ملاحظات</label>
          <textarea  id="discription" rows="3" class="form-control"></textarea>
        </div>

       <div class="col-12">
        <button type="submit" class="btn btn-primary px-3">
          حفظ
        </button>
       </div>
       </div>
      </form>
    </div>
  </div>

</div>
