<div class="container-fluid mt-3">

  <div class="flex-between mb-3 ">
    <button class="btn btn-primary flex-center gap-2" (click)="createDepartment()">

      <span class="fs-5">اضافة قسم</span>
      <i class="fas fa-plus"></i>
    </button>
    <h3 class=" fw-bold mb-0">
      الاقسام

    </h3>

  </div>

  <div class=" data-table border rounded card " dir="rtl">

    <h3 class=" fs-6 p-4 card-header  ">
      Categories
    </h3>

    <div class="card-body px-0">
      <div class="flex-between px-4 mb-3 flex-wrap gap-2">
        <div class="flex-center gap-2 ">
          <span class="h5 mb-0">اظهار</span>
          <select class="form-select" aria-label="Default select example">
            <option selected>10</option>
            <option value="1">25</option>
            <option value="2">50</option>
            <option value="3">All</option>
          </select>
          <span class="h5 mb-0">السجلات</span>
        </div>
        <div class="flex-center gap-2 align-items-end ">
          <label for="search" class="form-label fs-5 mb-0 ">بحث</label>
          <input type="text" class="form-control " id="search" placeholder="بتبحث عن اي">
        </div>
      </div>
      <table class="table table-hover text-nowrap transition  ">
        <thead class="small ">
          <tr>
            <th colspan="1" class="border text-secondary small">ID</th>
            <th colspan="1" class="border text-secondary small ">الاسم</th>
            <th colspan="1" class="border text-secondary small  ">الصورة </th>
            <th colspan="1" class="border text-secondary small ">العمليات</th>
          </tr>
        </thead>
        <tbody class="">
          <tr class="">
            <th class="">1</th>
            <td class="fs-5 ">قسم 1</td>
            <td class="small "><img src="./assets/images/000m.jpg" alt="" class=" rounded-circle object-fit-cover"
                width="50"></td>
            <td class="  d-flex justify-content-start  align-items-center  gap-3  ">
              <button class="transition btn btn-outline-primary flex-center gap-3 ">
                <i class="fas fa-user-pen"></i>
                <span>تعديل</span>
              </button>
              <button class="transition btn btn-outline-danger flex-center  gap-3 ">
                <i class="fas fa-trash"></i>
                <span>حذف</span>
              </button>
            </td>
          </tr>
          <tr class="">
            <th class="">2</th>
            <td class="fs-5  ">قسم 2</td>
            <td class="small "><img src="./assets/images/000m.jpg" alt="" class=" rounded-circle object-fit-cover"
                width="50"></td>
            <td class="  d-flex justify-content-start  align-items-center  gap-3  ">
              <button class="transition btn btn-outline-primary flex-center gap-3 ">
                <i class="fas fa-user-pen"></i>
                <span>تعديل</span>
              </button>
              <button class="transition btn btn-outline-danger flex-center  gap-3 ">
                <i class="fas fa-trash"></i>
                <span>حذف</span>
              </button>
            </td>
          </tr>



        </tbody>
      </table>

      <div class="flex-between px-4 flex-wrap gap-2  pb-3">

        <h6 class="mb-0 text-nowrap px-2 ">
          اظهار السجلات من 1 الي 4 من كل 4 السجلات
        </h6>

        <nav aria-label="Page navigation example ">
          <ul class="pagination justify-content-end gap-1 mb-0 pe-0 ">
            <li class="page-item  disabled">
              <a class="page-link p-0 px-2 border-0 bg-transparent">الاول</a>
            </li>
            <li class="page-item  disabled"><a class="page-link p-0 px-2 border-0 bg-transparent" href="">السابق</a>
            </li>
            <li class="page-item "><a class="page-link p-0 px-2 cursor text-dark">1</a></li>
            <li class="page-item  disabled"><a class="page-link p-0 px-2 border-0 bg-transparent" href="">التالي</a>
            </li>
            <li class="page-item  disabled">
              <a class="page-link p-0 px-2 border-0 bg-transparent" href="">الاخير</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>



  </div>

</div>
