<section class="side-bar ">

<div class="hanger pt-2">
  <div class="logo flex-center ">
    <i class="fas fa-bars fa-lg d-block d-lg-none" (click)="toggleSidebar()" [ngClass]="{'fa-x ': isSidebarVisible }"></i>
    
    <img src="./assets/images/logo.png" width="90" alt="">
  </div>
  <div class="hanger-content mt-3 pt-2  px-1 ps-3 transition" [ngClass]="{'show': isSidebarVisible}">
    <ul class="navbar-nav p-0 ">
     @for (item of serviceList; track $index) {
      <li class="nav-item cursor">
        <!-- العنوان الرئيسي -->
        <a class="flex-between nav-link transition"
           (click)="item.services ? toggleCollapse($index) : null"
           [routerLink]="item.services ? null : getTitleRoute(item.title)"
           [ngClass]="{ 'active-nav-link': isCollapsed[$index] }"
           >
          <div class="d-flex align-items-center gap-2 transition">
            <i [class]="item.icon"></i>
            <span class="fs-5">{{ item.title }}</span>
          </div>
          @if (item.services) { <i class="fas fa-chevron-down"></i> }
        </a>

        <!-- الخدمات الفرعية -->
        @if (item.services) {
          <div class="collapse transition" [class.show]="isCollapsed[$index]">
            <ul class="d-flex flex-column pe-4 transition">
              @for (service of item.services; track $index) {
                <li class="nav-item transition">
                  <a class="nav-link pt-0" [routerLink]="getServiceRoute(service)"> {{ service }} </a>
                </li>
              }
            </ul>
          </div>
        }
      </li>
    }

    </ul>
  </div>
</div>
</section>






