/* You can add global styles to this file, and also import other style files */

body{
    font-family: 'DroidArabicKufiRegular' ;

}
:root{
  --main:#0054a6;
  --light:#fcfdfe;

}
a {text-decoration: none;}
li { list-style: none; }
img, ion-icon, button, a { display: block; }
