/* You can add global styles to this file, and also import other style files */


body{
    font-family: 'DroidArabicKufiRegular' !important ;
}
:root{
  --main:#0054a6;
  --main-hover:rgb(0 84 166 / 80%);
  --light:#fcfdfe;

}
a {text-decoration: none;}
li { list-style: none; }
img, ion-icon, button, a { display: block; }

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.transition{
  transition: all .3s ease;
}
.form-control{

  &:focus{
    box-shadow: none;
    border-color: #151F2C;
  }
}
.btn-main{
  background: var(--main);
  color: var(--light);
  border-radius: 5px;
  padding-block: 10px;
  border: none;
  &:hover{
    background: var(--main-hover);
  }
  .hover{
    background: #ededed;
  }
}

.cursor
{
  cursor: pointer;
}
.has-scrollbar { padding-bottom: 5px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 12px; /* for vertical scroll */
  height: 12px; /* for horizontal scroll */
}


.has-scrollbar::-webkit-scrollbar-thumb{  background: red;
  border: 4px solid #151f2c ;
  -webkit-border-radius: 10px;
          border-radius: 10px;}
.has-scrollbar:hover::-webkit-scrollbar-thumb { background: hsl(0, 0%, 90%); }

.has-scrollbar::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 80%); }

::-webkit-scrollbar { width: 15px; }
::-webkit-scrollbar-track {
  background: #fff;
  // border-left: 1px solid #ededed;
}
::-webkit-scrollbar-thumb {
  background: hsl(0, 0%, 70%);
  border: 4px solid #fff ;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { background: hsl(0, 0%, 60%); }
.modal-backdrop
{
  z-index: 0;
  display: none;

}
