.container-fluid{
  background: #F6F8FB;

  .card{

    .form-label{
      white-space: nowrap;
      font-size: 18px;
      @media (max-width:668px) {
        font-size: 15px;

      }
      &::after{
        content: '*';
        color: rgb(218, 7, 7);
        padding-right: 3px;
      }
    }
  }

  .card-body{
    width: 100%;
    overflow-x: auto;
  }

}
